/* mzalendo overides */
body,
.btn,
.form-control,
#file-menu-panel .panel-menu li > a,
.dropdown-menu > li > a {
  color: #006c3b !important;
}
#file-menu-panel .panel-menu li.active > a,
.dropdown-menu > li.active > a {
  color: #fff !important;
}

.loadmask > .brendpanel,
#box-document-title,
.toolbar .box-tabs .extra,
.toolbar .tabs,
.toolbar .tabs .scroll.left,
.toolbar .tabs .scroll.right,
.style-off-tabs .toolbar.editor-native-color .tabs li:after,
.calendar-box,
.calendar-box .calendar-header,
.btn-options.active,
.btn-options:active,
/* .dlg-btn.primary, */
.dropdown-menu li .no-checkmark.checked .menu-item-icon,
.combobox li.selected,
.combobox li.selected a.focus,
.combobox li.selected a.hover,
.combobox li.selected a:focus,
.combobox li.selected a:hover,
.listview:not(.disabled) > .item.selected,
.switcher .sw-left,
#history-list .item.selected,
#plugins-box #plugins-list .item.selected,
.style-off-tabs .toolbar .btn-header.active:not(.disabled),
.style-off-tabs .toolbar .btn-header:active:not(.disabled),
.style-off-tabs .toolbar .btn-users.active:not(.disabled),
.style-off-tabs .toolbar .btn-users:active:not(.disabled),
.dropdown-menu.lang-menu > li a.checked,
.calendar-box .calendar-content .item.selected .name-month,
.calendar-box .calendar-content .item.selected .name-year,
.calendar-box .calendar-content .item.selected .number-day,
.color-schemas-menu.checked,
.color-schemas-menu.checked:focus,
.color-schemas-menu.checked:hover,
#file-menu-panel .panel-menu li.fm-btn.active:not(.disabled),
#panel-help .dataview > .item:not(.header-name).selected,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover,
.btn-toolbar.active:not(.disabled),
.btn-toolbar:active:not(.disabled),
.btn-group.split.over:not(.disabled) button:active,
.btn-group.split.over:not(.disabled) button:active:hover,
.btn-group.split.open > button:not(.active):last-of-type,
.btn-group.split button.active:not(.disabled),
.btn-category.active:not(.disabled),
.btn-category:active:not(.disabled) {
  background-color: #006c3b !important;
}

.extra #header-logo i,
.loadmask > .brendpanel .loading-logo {
  visibility: hidden;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-resolution: 2dppx),
  only screen and (min-resolution: 192dpi) {
  .extra #header-logo i {
    visibility: hidden !important;
  }
}