{% load static i18n %}
<!-- Document Settings and Metadata. -->
<meta charset="UTF-8">
<meta name="description" content="">
<meta name="author" content="">
<meta name="designer" content="" />
<meta name="rating" content="" />
<meta name="keywords" content="" />
<!-- Icons. -->
<link rel="apple-touch-icon" sizes="57x57" href="{% static 'dist/images/favicons/apple-icon-57x57.png' %}">
<link rel="apple-touch-icon" sizes="60x60" href="{% static 'dist/images/favicons/apple-icon-60x60.png' %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'dist/images/favicons/apple-icon-72x72.png' %}">
<link rel="apple-touch-icon" sizes="76x76" href="{% static 'dist/images/favicons/apple-icon-76x76.png' %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'dist/images/favicons/apple-icon-114x114.png' %}">
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'dist/images/favicons/apple-icon-120x120.png' %}">
<link rel="apple-touch-icon" sizes="144x144" href="{% static 'dist/images/favicons/apple-icon-144x144.png' %}">
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'dist/images/favicons/apple-icon-152x152.png' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'dist/images/favicons/apple-icon-180x180.png' %}">
<link rel="icon" type="image/png" sizes="192x192" href="{% static 'dist/images/favicons/android-icon-192x192.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'dist/images/favicons/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="96x96" href="{% static 'dist/images/favicons/favicon-96x96.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'dist/images/favicons/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'dist/images/favicons/manifest.json' %}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{% static 'dist/images/favicons/ms-icon-144x144.png' %}%">
<meta name="theme-color" content="#ffffff">
<!-- Apple Metadata.-->
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=yes" />
<!-- IE. -->
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<!-- Robots and Viewport. -->
<meta name="robots" content="index, follow" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<!-- OpenGraph for Facebook. -->
<meta property="og:locale" content="en_GB" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="DOKEZA" />
<meta property="og:url" content="https://dokeza.mzalendo.com/" />
<meta property="og:title" content="Dokeza - Making our own laws" />
<meta property="og:description" content="Striving to make bills publically available, interpreted and easily understandable" />
<meta property="og:image" content="{% static 'dist/images/favicons/favicon-96x96.png' %}" />
<meta property="og:image:secure_url" content="{% static 'dist/images/favicons/favicon-96x96.png' %}" />
<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="Striving to make bills publically available, interpreted and easily understandable" />
<meta name="twitter:title" content="Dokeza - Making our own laws" />
<meta name="twitter:site" content="@MzalendoTrust" />
<meta name="twitter:image" content="{% static 'dist/images/favicons/favicon-96x96.png' %}" />
<!-- Miscellaneous and SEO stuff. -->
<link rel="canonical" href="https://dokeza.mzalendo.com/" />
<link rel="sitemap" href="#" />
<link rel="next" href="https://dokeza.mzalendo.com/about/" />
<link rel="prev" href="#" />
<!-- STYLESHEETS. -->
<!-- Third Party Stylesheets. -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2">
<!-- Project Stylesheets. -->
<link href="{% static 'dist/css/onlyoffice.css' %}" rel="stylesheet">
<link href="{% static 'dist/css/dokeza.css' %}" rel="stylesheet">
<link href="{% static 'dist/css/mzalendo.css' %}" rel="stylesheet">
<link href="{% static 'dist/css/calendar.css' %}" rel="stylesheet">
