{% load social_share %}

<div class="class__share">
  <div class="text-share">Share</div>
  {% post_to_twitter '{{ object.title|safe }} by @MzalendoWatch.' object_or_url '&nbsp;&nbsp;&nbsp;&nbsp;' %}
  {% post_to_facebook object_or_url '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' %}
  {% post_to_linkedin object.title object_or_url "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" %}
  {% post_to_gplus object_or_url '&nbsp;&nbsp;&nbsp;&nbsp;' %}
  {% send_email object.title 'I am reading {{ object.title|safe }} by Mzalendo Dokeza. Check out' object_or_url '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' %}
</div>