{% extends "bills/base_bill.html" %}
{% load static %} {% load urlify %} {% load crispy_forms_tags %}
{% load social_share %}
{% block title %}Bill: {{ bill.title }}{% endblock title %}
{% block extra_css %}
  <link rel="icon" href="{% static 'images/'|add:fileType|add:'.ico' %}" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/editor.css' %}" />
{% endblock extra_css %}
{% block breadcrumbs %} {{ block.super }} »
{% if bill.get_bill_from_display|slugify|lower == 'senate' %}
  <a href="{% url 'bills:senate' %}">Senate</a>
{% else %}
  <a href="{% url 'bills:assembly' %}">National Assembly</a>
{% endif %} » {{ bill.title }}
{% endblock breadcrumbs %}
{% block content %}
<!--Main-->
<div class="dz-bill">
  <!-- Bill content sidebar -->
  <aside>
    <!--Card-->
    <div class="card">
      <h3 class="dz--card_{{ bill.get_bill_from_display|slugify|lower }}-bill card-header">
      {{ bill.title }}
      <br><br>
      {% if bill.get_bill_from_display|slugify|lower == 'senate' %}
        <span class="dz--card_bill-desc">A Senate Bill</span>
      {% else %}
        <span class="dz--card_bill-desc">A National Assembly Bill</span>
      {% endif %}
      </h3>
      <div class="card-block">
        <div class="dz-bill_details">
          <h4 class="card-title">SPONSOR: {{ bill.sponsor }}</h4>
          <div class="bill-specs">
            <p class="bill-dates">
            <strong>Last updated:</strong> {{bill.updated_date|date:"d M Y"|default:"--"}}</p>
            <p class="bill-actions">
             The bill has been presented using a <strong>Microsoft Word</strong> document format. 
             <br><br> Please right-click to highlight text and add a comment on the text.
             <br><br> You can also add a comment to the document at the bottom of the reader.
            </p>
          </div>
          <div class="bill-pic">
            {% if bill.bill_pic %}
              <img class="bill-cover" src="{{ bill.bill_pic.url }}" alt="">
            {% else %}
              {% if bill.bill_from == 1 %}
                <img class="bill-cover" src="{% static 'dist/images/bills/bill_draft_assembly.svg' %}" alt="">
                {% elif bill.bill_from == 2 %}
                <img class="bill-cover" src="{% static 'dist/images/bills/bill_draft_senate.svg' %}" alt="">
              {% else %}
                <img class="bill-cover" src="{% static 'dist/images/bills/bill_draft.svg' %}" alt="">
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <!--END Card-->
  </aside>
<!-- END Bill content sidebar -->
<!-- Bill Content -->
  <div class="bill-content">
    <div class="bill-details">
      <div class="form">{% csrf_token %}
        <div id="iframeEditor">
        </div>
      </div>
    </div>
    <script type="text/javascript" src="{{ apiUrl }}"></script>
    <script type="text/javascript" language="javascript">
      var docEditor;
     
      var innerAlert = function (message) {
          if (console && console.log)
              console.log(message);
      };

      var onAppReady = function () {
          innerAlert("Document editor ready");
      };

      var onDocumentStateChange = function (event) {
          var title = document.title.replace(/\*$/g, "");
          document.title = title + (event.data ? "*" : "");
      };

      var onRequestEditRights = function () {
          location.href = location.href.replace(RegExp("mode=view\&?", "i"), "");
      };

      var onError = function (event) {
          if (event)
              innerAlert(event.data);
      };

      var onOutdatedVersion = function (event) {
          location.reload(true);
      };

      var connectEditor = function () {

          config = {{ cfg | safe }}
          config.width = "100%";
          config.height = "100%";
          config.events = {
              'onAppReady': onAppReady,
              'onDocumentStateChange': onDocumentStateChange,
              'onRequestEditRights': onRequestEditRights,
              'onError': onError,
              'onOutdatedVersion': onOutdatedVersion,
          };

          {% if history and historyData %}

              config.events['onRequestHistory'] = function () {
                  docEditor.refreshHistory({{ history | safe }});
              };
              config.events['onRequestHistoryData'] = function (event) {
                  var ver = event.data;
                  var histData = {{ historyData | safe }};
                  docEditor.setHistoryData(histData[ver]);
              };
              config.events['onRequestHistoryClose'] = function () {
                  document.location.reload();
              };

          {% endif %}
          console.log('config - ', config)
          docEditor = new DocsAPI.DocEditor("iframeEditor", config);

          fixSize();
      };

      var fixSize = function () {
          var wrapEl = document.getElementsByClassName("bill-details");
          if (wrapEl.length) {
              wrapEl[0].style.height = screen.availHeight + "px";
              window.scrollTo(0, -1);
              wrapEl[0].style.height = window.innerHeight + "px";
          }
      };

      if (window.addEventListener) {
          window.addEventListener("load", connectEditor);
          window.addEventListener("resize", fixSize);
      } else if (window.attachEvent) {
          window.attachEvent("onload", connectEditor);
          window.attachEvent("onresize", fixSize);
      }
    </script>
  </div>
</div>
<!-- END Bill Content -->
</div>
<!--END Main-->
{% endblock content %}