{% extends "ideas/base_ideas.html" %}
{% load i18n static %}
{% block title %}Ideas - List{% endblock title %}

<!-- Main Content -->
<!-- Header -->
{% block header %}
  <h1 class="dz-main__heading">Ideas from the Public</h1>
{% endblock header %}
{% block content %}
  <!-- All Ideas -->
  <section class="dz-mainbar col-8">
    <div class="row">
      {% for idea in all_ideas %}
      <div class="dz-ideas__card">
        <div class="card">
          <a href="{{ idea.get_absolute_url }}">
            <div class="dz-ideas">
              <h5 class="dz-ideas__heading">{{ idea.title|capfirst }}</h5>
              <div class="row">
                <div class="idea-type">Submission:&nbsp;&nbsp;
                  <span class="dz-house__name dz-ideas__{{ idea.get_idea_type_display|slugify }}">{{ idea.get_idea_type_display }}</span>
                </div>
                <div class="idea-house">House:&nbsp;&nbsp;<span class="dz-house__name dz-{{ idea.get_submit_to_display|slugify}} ">{{ idea.get_submit_to_display}}</span></div> 
              </div>
            </div>
          </a>
          <div class="card-block">
            <div class="idea-details">
              <div class="idea-status">
                  {% if idea.draft == 1 %}<span class="idea-draft">draft</span>{% endif %}
                </div>
              <div class="idea-dates"><strong>{{ idea.comments.count }} Comments</strong></div>
              <div class="card-text">{{ idea.content|safe|truncatewords:25 }}</div>
            </div>
            <a href="{{ idea.get_absolute_url }}" class="btn btn-dokeza btn-sm">Read more &hellip;</a>
          </div>
        </div>
      </div>
      {% empty %}
        <p class="no-ideas">There are no submitted ideas yet.</p>
      {% endfor %}
    </div>    
  </section>
  <!-- END All Ideas -->
{% endblock content%}
<!-- END Main Content -->
{% block ckeditor %}
  <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}">
    </script>
  <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock ckeditor %}

