{% extends "_layouts/base.html" %}
<!-- Sub-Navigation Block -->
{% block title %}- Privacy Policy{% endblock title %}
{% block sub-navigation %}
<div class="dz-sub-navigation pr-0">
  <nav class="dz-sub-navigation__navbar nav d-flex flex-nowrap">
    {% include '_partials/sub-navigation/help.html' %}
  </nav>
</div>
{% endblock sub-navigation %}
<!-- END Sub-Navigation Block -->
<!-- Main Content -->
{% block content %}
<div class="dz-main__content">
  <div class="dz-help">
    <section>
      <h1>Mzalendo Dokeza Privacy Policy</h1>
      <p>
        This privacy policy has been compiled to better serve those who are concerned with how their 'Personally identifiable information' (PII) is being used online. PII, as used in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.
      </p>
      <h4>What personal information do we collect from the people that visit our platform, website or app?</h4>
      <p>
        We do not collect information from visitors of our site or other details to help you with your experience.
      </p>
      <h4>When do we collect information?</h4>
      <p>
        We collect information from you when you register onto our site. We ask for the following personal information:
        <ul>
          <li>email address(es)</li>
          <li>gender</li>
          <li>county of residence</li>
        </ul>
      </p>
      <h4>How do we use your information?</h4>
      <p>
        We may use the information we collect from you when you register, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:
        <ul>
          <li>Use to optimize the topics that are referred to you</li>
          <li>To generally make your surfing experience better</li>
        </ul>
      </p>
      <h4>How do we protect visitor information?</h4>
      <p>
        We have implemented the industry recognizes <a href="https://12factor.net/">“12-factor rule”</a> in our development that separates software concerns, especially for software being accessed by the public.
      </p>
      <p>
        Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. In addition, all sensitive/credit information you supply is encrypted via Secure Socket Layer (SSL) technology. We do not use vulnerability scanning and/or scanning to PCI standards.
      </p>
      <p>
        We implement a variety of security measures when a user enters, submits, or accesses their information to maintain the safety of your personal information.
      </p>
      <h4>Do we use 'cookies'?</h4>
      <p>
        We only use cookies for storing information of the current website access session. We do not use cookies for tracking purposes.
      </p>
      <p>
        You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser (like Internet Explorer) settings. Each browser is a little different, so look at your browser's Help menu to learn the correct way to modify your cookies.</p>
      <p>
        If you disable cookies off, some features will be disabled that make your site experience more efficient and some of our services will not function properly.
      </p>
      <p>However, you can make the decision to allow cookies once you choose to surf our website unless you put them off.</p>
      <h4>Third-party disclosure</h4>
      <p>
        We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information.
      </p>
      <h4>Third-party links</h4>
      <p>
        We do not include or offer third-party products or services on our website.
      </p>
      <h4>Google</h4>
      <p>
        We along with third-party vendors, such as Google use first-party cookies (such as the Google Analytics cookies) to functions as they relate to our website.
        <p>
          We have implemented the following Demographics and Interests Reporting
        </p>
      </p>
      <h4>Opting out</h4>
      <p>
        Users can opt out by visiting the Network Advertising initiative opt out page or permanently using the Google Analytics Opt Out Browser add on.
      </p>
      <h4>We agree to the following:</h4>
      <p>
        Users can visit our site anonymously.
      </p>
      <p>
        Once this privacy policy is created, we will add a link to it on our home page or as a minimum on the first significant page after entering our website.
      </p>
      <p>
        Our Privacy Policy link includes the word 'Privacy' and can be easily be found on the page specified above.
      </p>
      <p>
        Users will be notified of any privacy policy changes on our Privacy Policy Page.
      </p>
      <p>
        Users are able to change their personal information by emailing us.
      </p>
    </section>
    <section>
      <h1 class='dz-main__content-heading'><strong>Contacting Us</strong></h1>
      <section class="dz-contacts">
        <h4 class="">Email</h4>
        <p class="adr">
          <a class="url" href="http://info.mzalendo.com/">Mzalendo Trust</a><br>
          Email: <span class="email">info@mzalendo.com</span>
        </p>
        <h4 class="">Postal Address</h4>
        <p class="adr">
          <a class="url" href="http://info.mzalendo.com/">Mzalendo Trust</a><br>
          <span class="street-address">PO Box 21765</span> —
          <span class="postal-code">00505</span><br>
          <span class="region">Nairobi</span>,
          <span class="country-name">Kenya</span>
          <span>Heinrich Boll Foundation, Prof. Wangari Mathai Road (Former Forest Road).</span>
        </p>
      </section>
    </section>
  </div>
</div>
{% endblock content%}
<!-- END Main Content -->
