{% extends "_layouts/base.html" %}
{% load static %}
{% block title %}Public Events - List{% endblock title %}
<!-- Sub-Navigation Block -->
{% block sub-navigation %}
<div class="dz-sub-navigation pr-0">
  <nav class="dz-sub-navigation__navbar nav d-flex flex-nowrap">
    {% include '_partials/sub-navigation/public-participation.html' %}
  </nav>
</div>
{% endblock sub-navigation %}
<!-- END Sub-Navigation Block -->
<!-- Main Content -->
{% block content %}
<div class="dz-main__content">
  <!-- Events Section -->
  <section class="dz-events">
    <h1 class="dz-main__heading">Public Events</h1>
    <!-- Events Cards-->
    {% for event in events %}
    <div class="dz-events__card">
      <div class="card">
        <a class="public-heading" href="{{ event.get_absolute_url }}">
          <h6 class="card-header dz-events__card--heading">{{ event.title }}</h6>
        </a>
        <div class="card-block">
          <p class="card-text text-muted"><strong>Date:</strong> {{event.start_date }} <br><strong>Location:</strong>
            {{event.event_location }}</p>
          <p class="card-text">
            {{ event.description|truncatewords:20 }}
          </p>
          <a href="{{ event.get_absolute_url }}" class="btn btn-dokeza btn-sm">Read more &hellip;</a>
        </div>
      </div>
    </div>
    {% empty %}
    There are currently no events posted.
    {% endfor %}
    <!--END Events Cards-->
  </section>
  <!-- END Events Section -->
  <hr>
  <!-- Petitions Section -->
  <section class="dz-petitions">
    <h1 class="dz-main__heading">Petitions</h1>
    <!-- Petitions Cards-->
    {% for petition in petitions %}
    <div class="dz-petitions__card">
      <div class="card">
        <a class="public-heading" href="{{ petition.get_absolute_url }}">
          <h6 class="card-header dz-petitions__card--heading">{{ petition.title }}</h6>
        </a>
        <div class="card-block">
          <p class="text-muted"><strong>Deadline:</strong> {{ petition.deadline }}</p>
          <p class="card-text">{{ petition.content|safe|truncatewords:20 }}
          </p>
          <a href="{{ petition.get_absolute_url }}" class="btn btn-dokeza btn-sm">Read more&hellip;</a>
        </div>
      </div>
    </div>
    {% empty %}
    There are currently no petitions.
    {% endfor %}
    <!--END Petitions Cards-->
  </section>
  <!-- END Petitions Section -->
  <hr>
  <!-- Memoranda Section -->
  <section class="dz-memoranda">
    <h1 class="dz-main__heading">Memoranda</h1>
    <!-- Memoranda Cards-->
    {% for memo in memoranda %}
    <div class="dz-memoranda__card">
      <div class="card">
        <a class="public-heading" href="{{ memo.get_absolute_url }}">
          <h6 class="card-header dz-memoranda__card--heading"> {{ memo.title }}</h6>
        </a>
        <div class="card-block">
          <p class="text-muted"><strong>Deadline:</strong> {{ memo.deadline }}</p>
          <p class="card-text">{{ memo.content|safe|truncatewords:20 }}
          </p>
          <div class="dz-public">
            <div class="dz-public__read">
              <a href="{{ memo.get_absolute_url }}" class="btn btn-dokeza btn-sm">Read more &hellip;</a>
            </div>
            <div class="dz-public__house">
              <span class="dz-house__name dz-{{ memo.get_submit_to_display|slugify|lower }}">{{memo.get_submit_to_display }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% empty %}
    There is currently no request for memoranda.
    {% endfor %}
    <!--END Memoranda Cards-->
  </section>
  <!-- END Memoranda Section -->
</div>
{% endblock content%}
<!-- END Main Content -->
