{% extends "_layouts/base.html" %} {% load i18n static %}
<!-- Sub-Navigation Block -->
{% block sub-navigation %}
  <div class="dz-sub-navigation dz-user__standard">
    <nav class="dz-sub-navigation__navbar nav d-flex flex-nowrap">
      {% include '_partials/sub-navigation/user_standard.html' %}
    </nav>
  </div>
{% endblock sub-navigation %}
<!-- END Sub-Navigation Block -->
{% block docserverjs %}
  <script type="text/javascript" src="{% static 'dist/js/vendor/jquery-ui.js' %}"></script>
  <script type="text/javascript" src="{% static 'dist/js/vendor/jquery.blockUI.js' %}" ></script>
  <script type="text/javascript" src="{% static 'dist/js/vendor/jquery.iframe-transport.js' %}"></script>
  <script type="text/javascript" src="{% static 'dist/js/vendor/jquery.fileupload.js' %}" ></script>
  <script type="text/javascript" src="{% static 'dist/js/vendor/jscript.js' %}" ></script>
  <script type="text/javascript">
    var ConverExtList = {{ convExt | safe }};
    var EditedExtList = {{ editExt | safe }};
    var UrlConverter = "convert";
    var UrlEditor = "edit";
  </script>
{% endblock docserverjs %}