{% block sub-navigation %}
<a class="subnav-link {% if stingo == 'use_dokeza' %} active {% endif %}" href="{% url 'how_to' %}">How to Use Dokeza</a>
<a class="subnav-link {% if stingo == 'faqs' %} active {% endif %}" href="{% url 'faqs' %}">FAQs</a>
<a class="subnav-link {% if stingo == 'privacy' %} active {% endif %}" href="{% url 'privacy' %}">Privacy Policy</a>
<a class="subnav-head {% if stingo == 'search' %} active {% endif %}" href="{% url 'search' %}">Search Results</a>
{% endblock sub-navigation %}
