{% extends "_layouts/base.html" %} {% load static %}
{% block title %}Public Events - List{% endblock title %}

{% block sub-navigation %}
<div class="dz-sub-navigation pr-0">
  <nav class="dz-sub-navigation__navbar nav d-flex flex-nowrap">
    {% include '_partials/sub-navigation/events.html' %}
  </nav>
</div>
{% endblock sub-navigation %}
<!-- Fullcalendar Styles -->
{% block fullcalendarstyles %} {% endblock fullcalendarstyles %}
<!-- END Fullcalendar Styles -->
<!-- Main Content -->
{% block content %}
<div class="dz-main__content">
<!-- Events Section -->
<section class="dz-events__list">
  <h1 class="dz-main__heading">Events open to the Public</h1>
  <!-- Event Cards -->
  {% for event in object_list|slice:'6' %}
    <div class="dz-bills__card">
      <a href="{{ event.get_absolute_url }}">
        <div class="card">
          <div class="dz-home__bills-{{ event.get_house_display|slugify|lower }} rounded">
            <h5 class="dz-events__heading">
            {{ event.title|capfirst }}
            </h5>
            {{ event.event_description|safe|truncatewords:15 }}
            <div class="events-footer">
              <span>
                <span class="dz-house__name dz-senate">{{event.get_house_display|slugify|lower}}</span>
                <span class="dz-house__name dz-stage-event">
                  {{ event.get_status_display }}
                </span>
              </span>
              <div class="event-date">Date: {{ event.start_date|date:"d M Y" }} - {{ event.start_time }}</div>
            </div>
          </div>
        </div></a>
      </div>
    {% endfor %}
    <!-- END Cards -->
  </section>
  <section class="dz-events__fullcalender">
    <!-- Calender -->
    <div id="dz-events-calender" class="dz-events__calender"></div>
    <!-- END calender -->
  </section>
</div>
{% endblock content%}
<!-- END Main Content -->
{% block fullcalendar %}
<script src="{% static 'js/vendor/fullcalendar.min.js' %}"></script>
<script src="{% static 'dist/js/dokeza-eventscalendar.min.js' %}"></script>
{% endblock fullcalendar %}