{% extends "_layouts/base.html" %}
{% block title %}Public Event: {{ object.title }}{% endblock title %}
<!-- Sub-Navigation Block -->
{% block sub-navigation %}
<div class="dz-sub-navigation pr-0">
  <nav class="dz-sub-navigation__navbar nav d-flex flex-nowrap">
    {% include '_partials/sub-navigation/resources.html' %}
  </nav>
</div>
{% endblock sub-navigation %}
<!-- END Sub-Navigation Block -->
<!-- Main Content -->
{% block content %}
<div class='dz-public__content'>
  <h1 class="dz-public__heading">{{ object.title }} </h1>
  {{ object.event_description|safe }}
  {{ object.expected_outcomes|safe }}
  <div class="dz-events__calendar">
    <div class="dz-events__details">
      <p><strong>Dates:</strong> {{ object.dates_summary }}<br>
        <strong>Time:</strong> {{ object.start_time }} - {{ object.end_time }}</p>
    </div>
    <div class="dz-events__details">
      <p><strong>Location:</strong> {{ object.event_location }}</p>
    </div>
  </div>
</div>
{% endblock content %}
<!-- END Main Content -->
