{% extends "_layouts/base_user.html" %}
{% load i18n static %} {% block page_title %}User: {{ object.email }} {% endblock page_title %}
{% block title %} - {{ user.first_name }} {{ user.last_name }}{% endblock %}
{% block content %}
<div class="dz-main__content dz-profile">
  <aside class="dz-aside col-xs-12 col-md-4">
    <div class="list-group">
      <div class="dz-user {% if object.profile.is_member_of_parliament %}dz-user__mp {% elif object.profile.institution %}dz-user__institution
        {% else %}dz-user__standard {% endif %}">
        <h1>Profile</h1>
      </div>
      {% if object.profile.picture %}
      <img class="card-img-top" src=" {% static 'dist/images/{{ object.profile.picture_url }}' %}" alt="{{ request.user.first_name }} {{ request.user.last_name }}"> {% else %} {% if request.user.profile.gender == 1 %}
      <img class="card-img-top" src=" {% static 'dist/images/users/male_green.svg' %}" alt="{{ request.user.first_name }} {{ request.user.last_name }}"> {% elif request.user.profile.gender == 2 %}
      <img class="card-img-top" src="{% static 'dist/images/users/female_green.svg' %}" alt="{{ request.user.first_name }} {{ request.user.last_name }}"> {% else %}
      <img class="card-img-top" src=" {% static 'dist/images/users/male_green.svg' %}" alt="{{ request.user.first_name }} {{ request.user.last_name }}"> {% endif %} {% endif %}
      <div class="list-group-item list-group-item-action justify-content-between">
        {% if object.full_name %}
        <strong>Name</strong>
        <span class="">{{ object.full_name }}</span> {% else %}
        <strong>Username</strong>
        <span class="">{{ object.email }}</span>
        {% endif %}
      </div>
      <div class="list-group-item list-group-item-action justify-content-between">
        <strong>Joined</strong>
        <span class="">{{ object.profile.joined|date:'d M Y' }}</span>
      </div>
      <div class="list-group-item list-group-item-action justify-content-between">
        <strong>Last Seen</strong>
        <span class="">{{ object.profile.last_seen|date:'d M Y' }}</span>
      </div>
    </div>
    <br>
    <!--Activity-->
    <div class="list-group">
      <div href="#" class="dz-profile__activity">
        Activity
      </div>
      
     
     
      {% if request.user.is_member_of_parliament or request.user.is_editor or request.user.is_staff %}
      <a href="#" class="list-group-item list-group-item-action justify-content-between">
        <strong>Bills</strong>
        <span class="dz-profile-info profile-bills">{{ my_bills.count|default:"No bills yet" }}</span>
      </a>
      {% endif %}
      <a href="/tracker" class="list-group-item list-group-item-action justify-content-between">
        <strong>Tracker</strong>
        <span class="dz-profile-info profile-bills">
          {{ request.user.is_subscribed_tracker|yesno:"Subscribed,Not Subscribed" }}
        </span>
      </a>
      <a href="#" class="list-group-item list-group-item-action justify-content-between">
        <strong>Annotations</strong>
        <span class="dz-profile-info profile-annotations">{{ my_annotations.count|default:"No Annotations yet" }}</span>
      </a>
      <a href="#" class="list-group-item list-group-item-action justify-content-between">
        <strong>Comments</strong>
        <span class="dz-profile-info profile-comments">{{ my_comments.count|default:"No Comments yet" }}</span>
      </a>
      <a href="#" class="list-group-item list-group-item-action justify-content-between">
        <strong>Shares</strong>
        <span class="dz-profile-info profile-shares">{{ object.shares.count|default:"No shares yet" }}</span>
      </a>
      <a href="#" class="list-group-item list-group-item-action justify-content-between">
        <strong>Likes</strong>
        <span class="dz-profile-info profile-likes ">{{ object.likes.count|default:"No likes yet" }}</span>
      </a>
      <a href="#" class="list-group-item list-group-item-action justify-content-between">
        <strong>Followers</strong>
        <span class="dz-profile-info profile-followers ">{{ object.followers.count|default:"No followers yet" }}</span>
      </a>
      <a href="#" class="list-group-item list-group-item-action justify-content-between">
        <strong>Following</strong>
        <span class="dz-profile-info profile-follows ">{{ object.following.count|default:"No follows yet" }}</span>
      </a>
    </div>
  </aside>
  <article class="col-xs-12 col-md-8">
    <div class="dz-biodata">
      {% if object.profile %}
      <div id="my_details" class="card-block dz-profile__header">
        {% if object.full_name %}
        <h4 class="card-title bio-name">{{ object.full_name }}</h4>
        {% else %}
        <h4 class="card-title bio-name">{{ object.email }}</h4>
        {% endif %}
        <h6 class="card-subtitle mb-2 text-muted">{{ object.job_description }}</h6>
      </div>
      {% endif %}
      <h4 class="card-title text-muted card-title__bio">  </h4>
      <p class="">
        {% if object.profile.bio %}
        {{ object.profile.bio }}
        {% else %}
        <h4 class="card-title">{{ object.email }}</h4>
        <em>Please add a short biography.</em>
        {% endif %}
      </p>
      {% if object.profile.institution %}
      <p class="">I represent the {{ object.profile.institution }}on this platform.</p>
      {% endif %}
      {% if object.profile.is_member_of_parliament and object.profile.national_assembly %}
      <p class="">I am the member of the <strong>National Assembly</strong> for <strong>{{ object.profile.get_constituency_display }}</strong> constituency.</p>
      {% elif object.profile.is_member_of_parliament and object.profile.senate %}
      <p class="">I am the member of the <strong>Senate</strong> for <strong>
          {{ object.profile.get_county_display }}</strong> county.</p>
      {% endif %}
      <p class=""><strong>County of Residence: </strong>{{ object.profile.get_county_residence_display }}<br>
        <strong> County of Interest:</strong> {{ object.profile.get_county_interest_display }}</p>
      <h4 class="card-title text-muted card-title__bio">Contacts</h4>
      <p class="card-text">You can get in touch via the following links:</p>
      <p class="profile-links">
        <a href="{{ object.profile.facebook }}" target="_blank" class="card-link">Facebook</a>
        <a href="{{ object.profile.twitter }}" target="_blank" class="card-link">Twitter</a>
        <a href="mailto:{{ object.email }}" class="card-link">Email</a>
        {% if object.profile.view_contacts %}
        <p class="card-link">Mobile: {{ object.profile.mobile }}</p>
        {% endif %}
      </p>
      <!-- Settings buttons -->
      {% if not object.profile %}
      <p>Please fill in your profile details. It will help to filter bills, annotations and comments that match your selections.</p>
      {% endif %}
      <!-- End Action buttons -->
    </div>
    <div id="my_settings" class="card-block">
      {% if object == request.user %}
      <!-- Settings buttons -->
      <div class="row">
        <div class="col-sm-12">
          <a class="btn btn-primary dz-profile__buttons" href="{% url 'users:update' %}" role="button">Change Profile</a>
          <a class="btn btn-primary dz-profile__buttons" href="{% url 'account_email' %}" role="button">Change Email</a>
          <a class="btn btn-primary dz-profile__buttons" href="{% url 'account_change_password' %}" role="button">Change Password</a>
        </div>
      </div>
      <!-- End Action buttons -->
      {% endif %}
    </div>
  </article>
</div>
{% endblock content %}
