{% extends "_layouts/base.html" %}
{% load static %}
<!-- Sub-Navigation Block -->
{% block sub-navigation %}
<div class="dz-sub-navigation">
  <nav class="dz-sub-navigation__navbar nav d-flex flex-nowrap">
    {% include '_partials/sub-navigation/home.html' %}
  </nav>
</div>
{% endblock sub-navigation %}
{% block title %}Page Not found{% endblock %}
{% block content %}
<div class="dz-error col-8">
  <h1>We Did Not Find That Page</h1>
  <img class="dz-error__pic" src=" {% static 'images/dokeza-error.svg' %}" alt="">
  <p>We are sorry that this is not the page you were looking for.<br>
    Click on any of the links above to navigate back to the pages that we are sure exist.</p>
</div>
{% endblock content %}
