{% extends "_layouts/base.html" %}
{% load static %}
{% block title %}- Welcome{% endblock title %}
<!-- Fullcalendar Styles -->
{% block fullcalendarstyles %}
{% endblock fullcalendarstyles %}
<!-- END Fullcalendar Styles -->
<!-- Sub-Navigation Block -->
{% block sub-navigation %}
  <div class="dz-sub-navigation">
    <nav class="dz-sub-navigation__navbar nav d-flex flex-nowrap">
      {% include '_partials/sub-navigation/home.html' %}
    </nav>
  </div>
{% endblock sub-navigation %}
<!-- END Sub-Navigation Block -->
<!-- Main Content -->
{% block content %}
  <div class="dz-main__content">
    <div class="dz-home">
      <!-- Bills -->
      <section class="dz-home__bills">
        <div class="image-content">
          <div class="prev-img">
            <div class="left-arrow">
              <img src="{% static 'images/prev-img.svg' %}" alt="" />
            </div>
          </div>
          <div class="slider-holder">
            <div class="images-container">
              {% for bill in bills|slice:'6' %}
                <a href="{{ bill.get_absolute_url }}">
                  <div class="image-holder">
                    <div class="image-wrapper">
                      {% if bill.bill_pic %}
                        <img src="{{ MEDIA_URL }}{{ bill.bill_pic }}" alt="">
                        {% elif bill.bill_from == 1 %}
                        <img src="{% static 'images/bills/bill_draft_assembly.svg' %}" alt="">
                        {% elif bill.bill_from == 2 %}
                        <img src="{% static 'images/bills/bill_draft_senate.svg' %}" alt="">
                      {% else %}
                        <img src="{% static 'images/bills/bill_draft.svg' %}" alt="">
                      {% endif %}
                    </div>
                    <div class="pic-text">
                      <h2>{{ bill.title}}</h2>
                      <p>{{ bill.purpose|truncatewords:15|striptags }}</p>
                    </div>
                  </div>
                </a>
              {% endfor %}

              {% for doc in other_docs|slice:'4' %}
                <a href="{{ doc.get_absolute_url }}"></a>
                <div class="image-holder">
                  <div class="image-wrapper">
                    {% if doc.doc_pic %}
                      <img src="{{ doc.doc_pic }}" alt="">
                    {% else %}
                      <img src="{% static 'images/public/default-image.svg' %}" alt="">
                    {% endif %}</div>
                    <div class="pic-text">
                      <h2>{{ doc.title}}</h2>
                      <p>{{ doc.purpose|truncatewords:15|striptags }}</p>
                    </div>
                  </div>
                </a>
              {% endfor %}

              {% for article in news|slice:'4' %}
                <a href="{{ article.get_absolute_url">
                  <div class="image-holder">
                    <div class="image-wrapper">
                      {% if article.article_pic %}
                        <img src="{{ article.image }}" alt="">
                      {% else %}
                        <img src="{% static 'images/public/default-image.svg' %}" alt="">
                      {% endif %}</div>
                      <div class="pic-text">
                        <h2>{{ article.title}}</h2>
                        <p>{{ article.content|truncatewords:15|striptags }}</p>
                      </div>
                    </div>
                </a>
              {% endfor %}
            </div>
          </div>
          <div class="next-img">
            <div class="right-arrow">
              <img src="{% static 'images/next-img.svg' %}" alt="" />
            </div>
          </div>
        </div>
          <h1 class="dz-main__heading">Bills</h1>
          <div class="dz-home__content col-12">
            <div class="row">
              {% for bill in bills|slice:"8" %}
                <div class="dz-home__bills-card p-2">
                  <div class="card p-1">
                    <div class="dz-home__bills-{{ bill.get_bill_from_display|slugify|lower }} ">
                      <a href="{{ bill.get_absolute_url }}">
                        <h5 class="dz-home__bill-heading">{{ bill.title|capfirst }}</h5>
                        <div class="bill-state {% if bill.bill_stage == 1 %}stage{% endif %}">Open for Memoranda
                          <div class="reading-dates">{{ bill.first_reading|date:"d M Y"|default:"<span style='padding-right: 2rem;'>--</span>" }}</div>
                        </div>
                        <div class="bill-state {% if bill.bill_stage == 2 %}stage{% endif %}">In Committee
                          <div class="reading-dates">{{ bill.second_reading|date:"d M Y"|default:"<span style='padding-right: 2rem;'>--</span>" }}</div>
                        </div>
                        <div class="bill-state {% if bill.bill_stage == 3 %}stage{% endif %}">Plenary Session
                          <div class="reading-dates">{{ bill.third_reading|date:"d M Y"|default:"<span style='padding-right: 2rem;'>--</span>" }}</div>
                        </div>
                        <div class="bill-state {% if bill.bill_stage == 4 %}stage{% endif %}">Commentray Closed
                          <div class="reading-dates">{{ bill.assented_date|date:"d M Y"|default:"<span style='padding-right: 2rem;'>--</span>" }}</div>
                        </div>
                      </a>
                      <div class="dz-house">
                        <span class="dz-house__name dz-{{ bill.get_bill_from_display|slugify|lower }}">
                          {% if bill.get_bill_from_display == none %}
                            Discussion Draft
                          {% else %}
                            {{ bill.get_bill_from_display }}
                          {% endif %}
                        </span>
                      </div>
                    </div>
                    <div class="card-block dates-layout">
                      <p class="card-text">{{ bill.purpose|truncatewords:25 }}</p>
                      <a href="{{ bill.get_absolute_url }}" class="btn btn-dokeza btn-sm">Read more &hellip;</a>
                    </div>
                  </div>
                </div>
                {% empty %}
                <hr>
                <div class="dz-home__bills-card col-12 col-sm-6 p-2">
                  <p><strong>There are no outstanding legislative bills.</strong></p>
                </div>
              {% endfor %}
            </div>
          </div>
        </section>
  <!-- END Bills -->
  <!-- Other Documents-->
  <section class="dz-home__bills">
    <h1 class="dz-main__heading">Regulations</h1>
    <div class="dz-home__content col-12">
      <!-- Other Documents -->
      <div class="row">
      {% for doc in other_docs|slice:"6" %}
        <div class="dz-home__docs-card p-2">
          <div class="card p-1">
            <a href="{{ doc.get_absolute_url }}">
              {% if doc.institution.name == "Mzalendo Trust" %}<div class="dz-home__docs-mzalendo">{% else %}<div class="dz-home__docs-civic">{% endif %}
                <h5 class="dz-home__bill-heading">{{ doc.title|capfirst }}</h5>
                <h6 class="bill-sponsor text-muted">
                  <strong>Institution</strong>:{% if doc.institution %}{{ doc.institution }}{% else %}--{% endif %}
                </h6>
                <div class="dz-house">
                  {% if doc.institution.name == "Mzalendo Trust" %}<span class="dz-house__name dz-mzalendo">{% else %}<span class="dz-house__name dz-civic">{% endif %}
                    Document for Discussion
                  </span>
                </div>
              </div>
            </a>
            <div class="card-block">
              <p class="card-text">{{ doc.purpose|truncatewords:25 }}
              </p>
              <a href="{{ doc.get_absolute_url }}" class="btn btn-dokeza btn-sm">Read more &hellip;</a>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </section>
    <!-- END Other Documents -->
    
</div>
<div class="dz-home__events">
  <!-- Events -->
  <div class="dz-home__about--content">
    <p><strong>Dokeza</strong> - Swahili for <em>‘Share your Idea’</em> is an initiative by Mzalendo Trust, a Kenyan non-partisan Parliamentary monitoring organization (PMO) whose mission is to “promote the realization of open, inclusive, and accountable Parliaments across Kenya and Africa”.
</p>
    <a href="/about/" class="btn btn-dokeza btn-sm mt-0 mb-3">Read more &hellip;</a>
  </div>
  <section class="dz-events__home">
    <h1 class="dz-main__heading">Events</h1>
    <!-- Calender -->
    <div class="dz-events__loading"></div>
    <div id="dz-home-events" class="dz-events__index"></div>
    <!-- END calender -->
    <div class="dz-home__content dz-home__events--content">
      {% for event in events|slice:"8" %}
        <div class="dz-home__event">
          <div class="dz-home__events-heading">
            <h5 class="card-title">{{ event.title }}</h5>
            <h6 class="event-dates text-muted"><strong>Date: </strong>{{ event.start_date }} - <strong>Location: </strong>{{ event.event_location }}</h6>
          </div>
          <div class="card-block">
            <p class="card-text">
              {% if event.description %}
                {{ event.description|truncatewords:25 }}
              {% else %}
                --
              {% endif %}
            </p>
            <a href="#" class="btn btn-dokeza btn-sm">Read more &hellip;</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
<!-- END Events -->
</div>
{% endblock content%}
<!-- END Main Content -->
{% block fullcalendar %}
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
<script src="{% static 'js/dokeza-fullcalendar.min.js' %}"></script>
{% endblock fullcalendar %}
{% block cookieconsent %}
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#005629"
    },
    "button": {
      "background": "#c22710"
    }
  },
  "content": {
    "message": "This website is quite fancy and we thought you should know that we uses cookies to make sure you get an excellent experience. We do not share this information with anyone.",
    "dismiss": "Thank you!",
    "link": "The Dokeza Privacy Policy",
    "href": "https://dokeza.mzalendo.com/privacy-policy/"
  }
});
</script>
{% endblock cookieconsent %}
