{% extends "_layouts/base.html" %}
{% load static %}

{% block extra_js %}
<meta name="csrf-token" content="{{ csrf_token }}">
<script>
    let usr = '{{ request.user }}';
    if (usr == 'AnonymousUser') sessionStorage['uemail'] = '';
    else sessionStorage['uemail'] = '{{ request.user.email }}';
</script>
{% endblock extra_js %}

{% block sub-navigation %}
<div class="dz-sub-navigation">
    <nav class="dz-sub-navigation__navbar nav d-flex flex-nowrap">
        {% if user.is_staff %}
        <!-- {{stingo}} -->
        <a id="bill_list" class="subnav-link" href="/highlights/form">Add</a>
        <a id="assembly_list" class="subnav-link" href="/highlights/view">View</a>
        <a id="bill_list" class="subnav-link" href="/highlights/timeline">Timeline</a>
        {% else %}
        <span class="subnav-link">HOME &nbsp;&nbsp; >></span>
        <a class="subnav-link {% if stingo == 'timeline' %} active {% endif %}"
            href="/highlights/timeline">Highlights</a>
        <a class="subnav-link {% if stingo == 'latest' %} active {% endif %}" href="{% url 'home' %}">Latest</a>
        <a class="subnav-link {% if stingo == 'news' %} active {% endif %}" href="{% url 'posts:list' %}">Analysis</a>
        {% endif %}
    </nav>
</div>
{% endblock sub-navigation %}

{% block content %}
<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="hRoot" style='width: 100%'></div>
{% endblock content%}

{% block docserverjs %}
<link rel='stylesheet' href="{% static 'highlights/build/bundle.css' %}">
<link title="timeline-styles" rel="stylesheet" href="{% static 'highlights/assets/css/timeline.css' %}" />

<script src="{% static 'highlights/assets/js/timeline.js' %}"></script>
<script src="{% static 'highlights/build/bundle.js' %}"></script>

<style>
    .tl-attribution{
        display:none;
    }
</style>
{% endblock docserverjs %}