{% extends "_layouts/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block extra_js %}
  <script type="text/javascript">
    jQuery(window).load(function() {
      $('#id_username').focus();
      jQuery.fn.preventDoubleSubmission = function() {
        var last_clicked, time_since_clicked;
        $(this).bind('submit', function(event) {
          if (last_clicked) {
             time_since_clicked = event.timeStamp - last_clicked;
          }
          last_clicked = event.timeStamp;
          return !(time_since_clicked < 2000);
        });
       };
      $('#signup_form').preventDoubleSubmission();
    });
  </script>
{% endblock extra_js %}
<!-- Main Content -->
{% block content %}
  <h5 class="p-3">Register to annotate or comment on bills</h5>
  <div class="row container">
    <div class="col-11 col-md-5">
      <h6 class="p-1">Register</h6>
      <form class="dz-form__email-signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-primary btn-block mb-3 p-3" type="submit">{% trans "Sign Up" %}</button>
      </form>
      <div>
        <div class="dz-form__email-register">Already Registered?
          <a class="btn btn-outline-success" role="button" href="{{ login_url }}">Login</a>
        </div>
      </div>
    </div>
    <div class="login-or">{% trans 'or' %}</div>
    <div class="col-11 col-md-5">
      <h6 class="p-1">Login/Register via social media</h6>
      {% get_providers as socialaccount_providers %}
      {% if socialaccount_providers %}
        <div class="socialaccount_ballot">
          <ul class="socialaccount_providers">
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
          </ul>
        </div>
        {% include "socialaccount/snippets/login_extra.html" %}
      {% else %}
        <p>{% blocktrans %}If you have not created an account yet, then please
          <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
      {% endif %}
    </div>
  </div>
{% endblock content%}
<!-- END Main Content -->